each val, key in tagsandfiles
  ul.ft_l1
    li.ft_l1_entry
      span #{key}
      ul.ft_l2
        each doc in val
          li(class='ft_l2_entry type_doc ftype_16_' + doc.type,id=doc.digest)
            span #{doc.name} 
              span.tagBtn [o]
each val, key in etherpads
  ul.ft_l1
    li.ft_l1_entry
      span #{val.name}
      ul.ft_l2
        if val.pads
          each pad in val.pads
            li(class='ft_l2_entry type_pad ftype_16_pad')
              a(href=val.url+"/p/"+pad,class='padlink')
              span #{pad} 
                span.tagBtn [o]